/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* GENERAL */
:root {
    --main-bg-color: #000;
    --border-color: rgb(218, 218, 218);
    --main-font-size: 18px;
    --label-font-size: 12px;
    --mid-font-size: 14px;
    --main-green-color: #5C735D;
}

body {
    background-color: var(--main-bg-color);
    background-repeat: no-repeat;
    font-family: Helvetica, sans-serif;
}

.flex-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LEFT CONTENT */
.left-content {
    background-image: url(./img/bg2.jpg);
    min-height: 700px;
    width: 350px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15px;
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#odin-logo {
    height: 150px;
    padding: 1vh;
    margin-top: 90px;
    border-radius: 1vh;
}

#logo p {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#left-para {
    display: flex;
    color: white;
    bottom: 20px;
    margin-bottom: 20px;
    font-size: var(--label-font-size);
}

#left-content a {
    color: white;
}

/* RIGHT CONTENT + FORM */
.right-content {
    background-color: rgb(255, 255, 255);
    opacity: 1;
    min-height: 700px;
    width: 650px;
    border-radius: 10px;
    font-size: var(--main-font-size);
}

.main-form {
    height: auto;
    margin-bottom: 20px;
}

.right-content p {
    line-height: 22px;
}

.main-form input {
    border: 1px solid var(--border-color);
    margin-right: 50px;
    margin-bottom: 15px;
    height: 25px;
    width: 200px;
    border-radius: 3px;
}

.main-form label {
    text-transform: uppercase;
    font-size: var(--label-font-size);
}

legend {
    font-weight: bold;
    font-size: var(--main-font-size);
    margin-bottom: 20px;
}

#top-right-content {
    padding: 0px 30px;
}

#top-right-content p {
    font-weight: bold;
    max-width: 750px;
    margin: 90px 0px 0px 0px;
}

#top-right-content p + p {
    margin: 20px 0px 60px 0px;
}

.top-form, .mid-form, .bot-form {
    display: flex;
}

.top-form label,
.mid-form label,
.bot-form label {
    display: flex;
    margin-bottom: 5px;
}

.bot-form {
    margin-bottom: 20px;
}

.bot-right-content {
    font-size: var(--mid-font-size);
    margin-left: 30px;
    font-weight: bold;
}

.bot-right-content button {
    background-color: var(--main-green-color);
    color: white;
    border: 0px;
    height: 45px;
    width: 200px;
    border-radius: 7px;
    font-size: var(--mid-font-size);
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 8px;
}

.bot-right-content a {
    color: var(--main-green-color);
    text-decoration: none;
    font-size: var(--mid-font-size);
}

.bot-right-content p {
    margin: 0px;
}

.bot-right-content button:hover {
    background-color: #748875;
}

input:focus {
    background-color: rgb(226, 226, 226);
}

#know {
    font-style: italic;
}

/* MEDIA QUERIES */
@media screen and (max-width: 920px) {
    body {
        height: 1324px;
    }

    .flex-container {
        flex-direction: column;
    }

    .left-content {
        width: 100vw;
        border-radius: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 0px;
    }
    
    #odin-logo {
        margin-top: 280px;
    }
}

@media screen and (max-width: 450px) {
    body {
        height: 100vh;
    }

    .flex-container {
        height: auto;
    }

    .left-content {
        min-height: 500px;
        width: 100vw;
        border-radius: 0px;
        margin-right: 0px;
    }
    
    #odin-logo {
        margin-top: 100px;
    }

    .right-content {
        height: auto;
        width: auto;
        border-radius: 0px;
        font-size: var(--main-font-size);
    }
    
    .main-form {
        height: auto;
        margin-bottom: 20px;
    }

    #top-right-content p {
        font-weight: 100;
        margin-top: 40px;
    }

    #top-right-content p+p {
        margin-bottom: 50px;
    }
    
    .right-content p {
        width: auto;
    }

    .top-form, .mid-form, .bot-form {
        display: flex;
        flex-direction: column;
    }

    .bot-right-content {
        margin-bottom: 100px;
    }
}